iframe {
  width: 100%;
  height: 50vw;
  max-height: 500px;
}

h1,
h4,
p {
  color: white;
  padding: 20px;
  margin: 0;
}

h4 {
  margin: 0;
  padding-top: 0px 20px;
}

@media screen and (max-width: 1000px) {
  iframe {
    position: fixed;
    top: 0;
    z-index: 100;
    margin-top: 70px;
  }
  .description {
    margin-top: 70vw;
  }
}
